@charset "UTF-8";

/*variables*/
:root {
  --main: rgba(255, 255, 255, 1);
  --hover: rgba(122, 122, 122, 1);
}

a:hover {
  color: var(--hover);
}

.nav-items li a:hover {
  color: var(--hover);
}

#game_summary {
  color: var(--main);
}

.subtext p span {
  background: rgba(0, 0, 0, 0.6);
}

/*Smaller Screens*/
@media only screen and (max-device-width: 999px) and (orientation: portrait) {
  .nav-items li {
    border-bottom: 3px solid var(--main);
  }
}
