@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

/*variables*/
:root {
  --main: rgba(255, 255, 255, 1);
  --opposite: rgba(0, 0, 0, 1);
  --hover: rgba(122, 122, 122, 1);
  --overlay: rgba(0, 0, 0, 0.95);
  --h1: rgba(34, 135, 193, 1);
}

/*reset*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*styles*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Slab", serif;
  font-size: 0.95rem;
  margin: 0;
  background-color: var(--main);
}

p {
  padding: 1rem 2rem;
  line-height: 1.9rem;
  margin: 0;
  font-size: 1.15rem;
  padding-top: 15px;
}

p span {
  color: var(--h1);
}

a:link,
a:visited {
  color: var(--oppposite);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  text-decoration: none;
}

.bg {
  background-image: url(../images/hero-1500.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  -webkit-box-shadow: 0 0 40px var(--opposite);
  box-shadow: 0 0 40px var(--opposite);
}

.hero {
  display: none;
  width: 100%;
  height: 100%;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: start;
  padding-top: 1rem;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  flex: 1 0 auto;
  align-items: flex-start;
  padding: 0;
  margin: -0.5rem auto;
}

.nav-items ul,
.nav-items li {
  list-style: none;
  -webkit-padding-start: 0;
}

.nav-items li {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Fira Sans", sans-serif;
}

.nav-items li a:link,
.nav-items li a:visited {
  color: var(--main);
  text-decoration: none;
}

.nav-items li a:hover {
  color: var(--hover);
  text-decoration: none;
}

.nav-item {
  padding: 1em;
  display: inline;
}

#logo {
  width: 118px;
  height: 102px;
  margin-right: 2rem;
}

.hamburger {
  display: none;
}

#game_summary {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--main);
  position: absolute;
  top: 50%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.team_name {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: 600;
}

.venue,
.subtext p {
  padding: 0;
}

.venue {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.14em;
  margin: 4vh 0;
}

.subtext p {
  font-weight: 100;
  margin: 3vh 0;
}

.subtext p span {
  padding: 5px 8px;
  margin: 5px;
  background: rgba(0, 0, 0, 0.6);
}

h1 {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5rem 0 0 2rem;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--h1);
}

.wrapper {
  background-color: var(--main);
  -webkit-box-shadow: 0 0 40px var(--opposite);
  box-shadow: 0 0 40px var(--opposite);
  width: 95%;
  margin: auto;
}

.content {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-element {
  background-color: var(--main);
  padding: 8px;
  color: var(--opposite);
  border: 1px solid var(--main);
}

.image-container {
  background-color: var(--main);
  padding: 8px;
  height: 100%;
  -webkit-box-shadow: 0 0 4px gray;
  box-shadow: 0 0 4px gray;
  overflow: auto;
}

.image {
  width: 100%;
  object-fit: cover;
  -webkit-box-shadow: 0 0 5px lightgray;
  box-shadow: 0 0 5px lightgray;
}

figurecaption {
  font-size: 0.85rem;
  color: gray;
}

figurecaption span {
  float: right;
  font-size: 0.6rem;
  font-style: oblique;
  color: darkgray;
}

.things_liked {
  width: 100%;
  margin: 2rem 0;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.things_liked ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.things_liked li {
  margin: 1rem 2rem;
}

.things_liked h1 {
  padding: 0.8rem 0 0 1.5rem;
}

.things_liked > ul > li > a:link {
  text-decoration: underline;
}
.gallery {
  display: grid;
  grid: auto / repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 0.5em;
  padding-top: 1em;
}

.gallery_thumb {
  position: relative;
  flex-basis: 30%;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 6px -6px #777;
  -moz-box-shadow: 0 8px 6px -6px #777;
  box-shadow: 0 8px 6px -6px #777;
}

.gallery_thumb img {
  padding: 10px;
}

/*Smaller Screens*/
@media only screen and (max-device-width: 999px) and (orientation: portrait) {
  .bg {
    background-image: url(../images/hero-500.jpg);
  }
  #header {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 999;
  }
  #logo {
    width: 236px;
    height: 204px;
    margin: auto;
    text-align: center;
    position: relative;
  }
  .hamburger {
    display: inline;
    position: absolute;
    right: 60px;
    top: 60px;
    transform: scale(2.5);
  }
  .navigation_on {
    display: flex !important;
  }
  .header_on {
    background: var(--overlay);
  }
  .nav-container {
    background: var(--overlay);
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    display: none;
  }
  .nav-items {
    flex-direction: column;
    margin: 0;
  }
  .nav-items li {
    font-size: 4rem;
    padding: 2rem 0;
    border-bottom: 3px solid var(--main);
    width: 100%;
  }
  .last_menu_item {
    border-bottom: none !important;
  }
  #game_summary {
    left: 70%;
  }
  .venue {
    font-size: 2rem;
  }
  .subtext p {
    font-size: 1.8rem;
  }
  figurecaption {
    font-size: 0.8rem;
  }
  figurecaption span {
    font-size: 0.6rem;
  }
  p {
    font-size: 1.7rem;
    line-height: 3rem;
  }
  .content p {
    padding: 1.5rem;
  }
  .wrapper {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .image-container {
    padding: 1rem 0.5rem;
  }
  .grid-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .things_liked ul {
    display: inline-block !important;
  }
  .things_liked li {
    margin: 0.8rem;
    font-size: 1.4rem;
  }
  .gallery {
    padding: 1em 0.5em;
  }
}

/* Laptops and medium-sized */
@media only screen and (min-device-width: 1000px) and (max-device-width: 1320px) {
  .nav-items li {
    font-size: 0.9rem;
    padding: 2rem 0.5rem;
  }
  #game_summary {
    top: 60%;
  }
}

/* iphone x and up to get rid of the edges in landscape mode */
@media only screen and (min-device-height: 800px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  body {
    background-color: var(--opposite);
  }
}

@media only screen and (max-device-width: 999px) and (orientation: landscape) {
  .bg {
    background-image: url(../images/hero-1000.jpg);
  }
  #game_summary {
    top: 60%;
  }
  .team_name {
    font-size: 3rem;
    font-weight: 600;
  }
  .subtext p {
    margin: 0;
  }
  .venue {
    margin: 0;
  }
}
