- var desc = 'This site serves as the blog and picture gallery of an Atlanta Falcons fan that aims to travel to all 32 NFL franchise venues.'
- var this_css = 'blank.css'
block variables
doctype
html
  head
    block title_block
      script(src='javascript/google_analytics.js')
      meta(charset='utf-8')
      meta(name='description' content=desc)
      script(src='javascript/lazysizes.js')
      link(rel='stylesheet', href='css/hamburgers.css')
      link(rel='stylesheet', href='css/baguetteBox.min.css')
      link(rel='stylesheet', href='../../css/main.css')
      link(rel='stylesheet', href='../../css/' + this_css)
      link(rel='stylesheet', href='css/local.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,900')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed')
  body
    .bg
      img.hero(src='images/hero-500.jpg' srcset='images/hero-1500.jpg 1500w, images/hero-1000.jpg 1000w, images/hero-500.jpg 500w' sizes ="(-webkit-device-pixel-ratio : 3) 10vw, (max-device-width: 375px) 30vw, (max-device-width: 1000px) 70vw , 100vw")

      #header
        img#logo(src="../logo.png")
        button.hamburger.hamburger--collapse.hamburger--vortex(type='button')
          span.hamburger-box
            span.hamburger-inner
      
        //1include nav
        <!--#include virtual="../nav.html"-->
      
      #game_summary
        block game_summary
      
    .wrapper
      .content
        block main_block

        .things_liked
          h1 Things we liked
          ul
            block things_liked_block
        
        .gallery
          block gallery_block
    




    //p This is a test within the base_template and would actually render this variable!    #{team_name}
    script(src='javascript/js.js')
    script(src='javascript/baguetteBox.min.js')
    script(src='javascript/initialize_baguette.js')
