.nav-container
  ul.nav-items
    li.nav-item 
      a(href='http://thefootballtour.com/falcons/') ATLANTA
    li.nav-item 
      a(href='http://thefootballtour.com/steelers/') PITTSBURGH
    li.nav-item 
      a(href='http://thefootballtour.com/bears/') CHICAGO
    li.nav-item 
      a(href='http://thefootballtour.com/panthers/') CHARLOTTE
    li.nav-item 
      a(href='http://thefootballtour.com/packers/') GREEN BAY
      //-This will need to be broken into multiple uls and more and more games get added!
  ul.nav-items
    li.nav-item 
      a(href='http://thefootballtour.com/giants/') NEW YORK
    li.nav-item 
      a(href='http://thefootballtour.com/broncos/') DENVER
    li.nav-item 
      a(href='http://thefootballtour.com/patriots/') NEW ENGLAND
    li.nav-item 
      a(href='http://thefootballtour.com/eagles/') PHILADELPHIA
    li.nav-item 
      a(href='#') ARIZONA