extends includes/base_template
include includes/mixins

block variables
  //- don't forget to update the next lines with the team name for SEO!
  - var team_name = "Philadelphia Eagles"
  - var desc = 'An Atlanta Falcons fan aiming to travel to all 32 NFL franchise venues visits the Philadelphia Eagles'
  //change this next line to 'light.css' or 'dark.css' if the 'hero' image is light or dark in color!
  - var this_css = 'light.css'
  

block prepend title_block
  title The Football Tour - Philadelphia Eagles


block append game_summary
  .team_name Philadelphia Eagles
  .venue Lincoln Financial Field
  .subtext
    p 9/6/2018
    p 81 °F, cloudy
    p 69,696 in attendance
    p Week 1 of the NFL
    p 9:05PM Kickoff
    p Seats in section 123
    p Falcons: 12 <span>Eagles: 18</span> 


block main_block
  P It feels like it's starting to become a tradition to go to the city that's just won the Super Bowl.  Last year was New England and this year is Philadelphia!  I'd learned my lesson from my Green Bay trip to check the map of the region before heading out to see what was around and that's when I'd noticed New York City was only a 3-hour drive from Philadelphia!  This may not be a surprise to most of you educated people but I keep saying how I'm terrible with geography…  Knowing that we were traveling this year with our good friends Jean and Frances and how much we all love NYC, I knew that had to be factored in for this trip.  After a lot of discussion, planning, and research, we decided to fly into LaGuardia and make the drive to Philly and then to hit New York up on the way back home.
  
  .grid-container
    +image('article_1a', 'Sam and mom enjoying the flight')
    +image('article_1b', 'It is a chore, keeping him entertained!')
  
  h1 WEDNESDAY
  
  P Wednesday started early at the ATL airport where we grabbed breakfast and got settled in at our gate.  Sam was to once again travel with us.  That was a slightly daunting thought, considering he was almost three years old.  The flight out was really cool since we used everything at our disposal to keep Sam happy.  Food, games, discussion, the plane's TV/movie system, and finally, Sam's tablet.  He started getting restless just as we got off of the plane so I'd chalk that up as a 'win!'  Getting from LaGuardia to the rental car pickup location was a 2.1 mile trip that feels like 3 hours with all of your bags, multiple buses, a toddler, and lack of dignity.  Once we arrived and sat through the hour line at the rental car place (the people working there have nowhere to be so they're in no hurry…) we got the rental limo.  It wasn't technically a limo but it was a substantial-sized SUV. The vehicle had 3 rows of seating and felt 4-feet longer than most SUVs but Sam was along so we needed something larger!  The next step was getting on the road for Philly.  We took in the views of NYC as we sat in traffic and slowly got away from the nightmares that are the roads near the GREATEST CITY IN THE WORLD!  -As an aside; for whatever reason, being in New York just makes me excited, giddy, and a little loopy and I say stupid things that pop into my head.  On this day, I'd made up my mind that everyone who lived near the big apple were the happiest, most excited people in all of the land and all of them, no matter how crappy their job/life/day. They were thrilled to be living in what they believed to be “The greatest city in the world”- a phrase I repeated ad nauseam, which greatly amused me (and hopefully Frances - <span>editor's note from Frances - yes, yes it did amuse me)</span> and annoyed the crap out of Marlene!
  
  .grid-container
    +image('article_2', 'Stuck in a pair of concrete walls in the GREATEST CITY IN THE WORLD!')

  p Once we conquered the traffic of New York, we faced something even worse and surprising: the traffic of Philadelphia!  Philly --Why are you tripping?  Where do all of you people live?  Why are you all on the roads!?  We marched on and eventually got to our room in Philadelphia - an Airbnb with ALL the stairs.  The place worked out great for our needs because it had 2 bedrooms and was big enough for us to make a bed on the floor for Sam.  You walked up two flights of stairs to get to the common area of the condo and then another flight to get up to the bedrooms.  Finally, a last flight of stairs took you up to the roof where there was a nice view of the city and a great setup for hanging out under the stars.  Considering we also had a parking space, this place just worked out perfectly for us!  Jean found it and looking back on it… It was an awesome little spot!

  .grid-container
    +image('article_3a', "'Condo of stairs' dining digs")
    +image('article_3b', 'Condo living room')
    +image('article_3c', 'Views of the roof and from the roof were awesome!')

  P After settling in and grabbing groceries -essentials like beer, snacks, and fruit, we had dinner on our minds.  We knew we wanted to try more than one cheesesteak place while in Philadelphia so we started night one off with a sandwich.  “Dalessandro's Steaks and Hoagies” was a place Frances found before our trip even started so we made the 15-minute drive over and had a sandwich at a table just outside the restaurant's front doors.  We all got our own and skipped the cheese wiz --a delicacy I had heard about, but was not even mentioned at this establishment.  We all really enjoyed our dinner and thought that these were some amazing cheesesteaks.  I think up until that point in our lives, probably the best we've ever had.  We carried a bag of chips from a nearby gas station to go with our subs and unfortunately, I couldn't find any Voodoo chips, something that would have set that steak off just right.  Back at the condo- we all grabbed a drink and walked up on the roof to take some photos and hang out until Sam passed out.  The night views of the city and the weather that night was amazing.  We decided to head off to bed after a busy first day on our trip.
  
  h1 THURSDAY
  
  P I greeted Thursday morning with a run around the city.  I started on this raised track right by our condo and then it hit me to check the map and see how far away I was from the famous Rocky steps.  A google maps search told me they were the steps of the Museum of Art and they were about 2 miles away.  I started in that direction and was pleasantly surprised how flat and run-able the city was.  The closer I got to the steps, the more and more runners I saw out.  I finally made it to the fountain in front and crossed the street to make my jog up the stairs.  I know it was lame.  I know it was touristy and cliche but I was running in Philly so why not?  Some of the other runners had taken to walking up and down the steps or were exercising at the bottom of them.  I really liked how the city had adorned the front columns of the building  with a giant flag of the Philadelphia Eagles logo.  I really like when an entire fanbase and especially a city will rally behind their team.  I thought it was a nice touch for the city and their fans.  I finished my run back to the condo and jumped in the shower to prepare for breakfast.
  
  .grid-container
    +image('article_4', 'A view on my run: The top of the famous Rocky steps were celebrating their Super Bowl win')

  P  The group found a place right around the corner called 'Cafe Lift.'  I'd actually ran right by the place and noticed it moments earlier so I was excited to try it.  The place was really solid.  There was nothing groundbreaking and it's not a must-try while in Philly but it hit the spot and was a great meal.  We all really enjoyed it.  After breakfast, we walked back to the condo to grab the super-SUV and get on our way to see some history!  We quickly found parking in Center City near the Liberty Bell and boy was it a toasty day!  We seemed to bring the heat from Georgia with us and we stayed on high-alert for shade the entire time we were exploring.
  P  The walk in to see the Liberty Bell was very chill and it had a nice layout.  You walked through an air-conditioned building with historic artifacts and explanations of the national significance of the city.  Honestly, as we were all at the mercy of Sam and the boredom that comes from an authoritative figure of his age, we did not get to read much of anything in there.  Marlene and I took turns trying to console him, entertain him, and keep him from overheating.  Frances and Jean followed suit as good travel companions who forfeited their experience to help out and keep the little dictator happy.  What struck me as a little bit surprising was the way the Liberty Bell is displayed.  You just sort of walk up to it and it's in the corner of the room.  I expected more pomp and circumstance for such an iconic symbol of America. In Ruby Falls, Tennessee a trickle of water inside a cave has corny music that plays and a light show that thrusts the feature in your face for effect.  The greatest bell in our country's history is just chilling in the corner with about as much confidence as a teenager hugging the wall of his middle-school dance.  It was odd to me.  I don't know what I was expecting but I guess I always pictured it up on a large stone feature where you crest the top stair and grab the rail to take it all in.  It's still something to behold, but the presentation left something to be desired.
  
  .grid-container
    +image('article_5a', 'That bell')
    +image('article_5b', 'The man, the myth')
    +image('article_5c', 'A building in the Independence Hall collection', 'Jean')

  P  Directly across the street from the building that houses the bell is Independence Hall.  They offer tours throughout the day. To get tickets for the tours, you actually have to go back a few blocks to pick them up (a bad design if you ask me). So Jean and I ran back to get some tickets, while Marlene and Frances chilled with Sam.  Again, we were mostly catering to Sam's needs and attention span so we tried to keep him happy and occupied during the tour which is narrated by a volunteer that led the group into a building to sit and listen.  Our guide came off a bit like a high school history teacher that tried engaging the group as if we were all his students.  He asked questions and excitedly rattled off the history of the area with buzzwords like 'William Penn' and 'Ben Franklin,' as well as buzz years like '1701.'  I was actually into the lesson and appreciated how enthusiastic he was and how much he cared about everything he was discussing.  Frances was not into it, though and I wasn't married to the speech so we opted to leave and just walk Independence Hall ourselves.  After a short hang in the shade of the commons area, we decided to leave in pursuit of lunch and go unwind.
  P  Yelp took us to “Christie's Deli” where we picked up sandwiches and went back to enjoy them at the condo.  Both of the sandwiches there were really solid and the perfect amount of food when shared.  We hung out for a bit while Sam napped and then we decided to indulge in some ice cream from “Franklin's Ice Cream” on the way to the game that night.  Of course I got a scoop of peanut butter and a scoop of chocolate in a waffle cone while Marlene and Sam shared a scoop of mint chip.  I'm not sure what Jean and Frances got but I know we all were very happy with it and would definitely recommend checking it out.
  P  When we got close enough to the stadium to walk, Jean and I jumped out of the SUV and Marlene ran around to drive it back to the condo.  It was guys only for this game so we arrived early enough to scope out the parking lot before going in to our seats.  I'm still waiting for that dream experience to happen again like it did for Marlene and I in NYC for the Giants game.  There, we were invited in to a tailgate from some Giants fans and they shared their food and drinks with us and we had a great time.  No one has been quite as inviting since then but I don't blame them, I'm not sure I would invite strangers into my tailgate, either.
  P  I had heard plenty of rumors about how bad the Philly fans were and how much they enjoyed picking fights and just acting like jerks in general.  I opted not to wear a jersey or even Falcons colors for the first time since starting my away game journey.  We got to our seats and right before the game was scheduled to begin, inclement weather hit and we were forced to all leave the bowl due to lightning strikes.  We had to wait for about an hour while the weather worked itself out.  Finally, after a short misting, it cleared up and the game was under way.  The game seemed to go about as well as most of the games on my football tour.  The Eagles had to start backup quarterback (whom had recently won them the Super Bowl) and he did enough to beat us.  We went for it on fourth down early in the game on the goal-line and we were stopped.  For most of the remainder of the game, we were actually in it because it was a field-goal show until late in the 3rd quarter.  It was embarrassing that they successfully ran the “Philly Philly” trick play that helped win them the aforementioned Super Bowl.  Our defense basically gave the game away late and we were unable to mount a comeback.  We were literally there and we had about 5 chances from the 10-yard line but could not get it done.  I was happy with my choice to skip a jersey because the fans were treating everyone wearing Falcons red pretty badly throughout the night (stay classy, Philly!).
  
  .grid-container
    +image('article_6a', "Winner for 'Best Billboard' goes to...")
    +image('article_6b', 'Although their fans are notoriously vile, this made me chuckle')
    +image('article_6c', 'Our seats were great but these were before the rain even came', 'Jean')

  h1 FRIDAY

  P On Friday morning, we took the short hike from the condo to the Reading Terminal Market in search of donuts at Beliers Bakery.  I can't quite remember which donuts we all decided to get but they were all incredibly sweet and delicious.  We grabbed coffees from a place inside the market and then enjoyed looking around and taking in the history of the place.  It is a National History Landmark operating since 1893 and is one of America's oldest and largest public markets.  The ornate details in the construction and all of the shops inside made for an interesting walk around.
  
  .grid-container
    +image('article_7a', 'Yes, please --at Reading Terminal Market')
    +image('article_7b', 'Juxtaposition; still in Reading Terminal Market', 'Jean')
  
  P After getting back to the condo and regrouping from the donuts, we got on the road toward Amish Country.  In Lancaster, PA, the Amish Farm and House was situated on a rolling pasture; not a glimpse of electricity in sight --actually, that's not true.  It was next to a Target!  I don't even know if I can say it was NEXT to the Target.  It was IN the Target parking lot.  Inside, a tour was offered which we started to sit for until Sam became restless.  A two-year old has no patience for being hot and learning about church customs and cultures.  On the backside of the house, the attached farm held his (and my) attention much longer.  There were farm animals and a small tractor set up as a playground that Sam thoroughly enjoyed.  They even had something for us older kids: a scooter trail with a rack full of scooters you could ride along in a semi-circle.  Jean and I definitely went back and forth a few times and it brought big smiles to our faces.  We spent some time walking the 15-acre farm, looking at the animals, and swinging in an old swing gantry-style apparatus. On site were multiple buildings, including a tobacco shed, blacksmith shop, wood working artist, old pump, and more to explore.  There was a gift shop where Jean snagged an Amish newspaper which was pretty cool to read on our drive back to Philly. 
  
  .grid-container
    +image('article_8a', 'Truly Amish Country', 'Frances')
    +image('article_8b', 'Sam loved the animals')
    +image('article_8c', 'Scooter time!')
  
  P <span>Editor's note from Frances:  It was my idea to head to Amish country, mostly because of my obsession with The Office. For any of you Office fans out there, you'll recall the show takes place in Scranton, Pennsylvania. Dwight Schrute often makes mention of Lancaster County, the Amish country, and the Pennsylvania Dutch. Also, ya know, seeing how other people live is cool and stuff. Anyway, I really enjoyed seeing the customs of this group, hearing their history, and learning about their unique way of life. One of my favorite parts was visiting the onsite schoolhouse and imagining myself as a little Amish kid in that tiny school room. Something about it was touching to me. I also really enjoyed visiting the adorable goats and feeding them goat feed. If you're at all interested in learning about the Amish, I would recommend this place. Chris isn't lying when he said it was LITERALLY in the Target parking lot, but to be fair they shared with us that they were there first (the farm is almost 300 years old) and weren't super happy with Target moving in. So, I guess technically Target was in THEIR parking lot. And to be honest, once inside, you really couldn't see the Target so the effect wasn't really ruined for me. *end of editor's note</span>
  P Before we made that trek we decided to grab some pizza from one of the only non-chain restaurants we could find in Lancaster: Caprico's Pizza.  The owner waited on us and was quite accommodating, even asking us if we prefered the crust to be softer or crunchier.  We all really enjoyed the pizza and the owner was nice enough to give Sam a small fire truck toy still in its package that felt like it was easily worth $5.  Sam really liked that and still plays with that firetruck months later (I'm writing this 9 months after our trip).  If you're ever in Lancaster, please give him a try!  He needs your business.
  P We went back to the condo and relaxed for basically the rest of the night after the drive back.  Even at dinner time, we were all so burned out from the previous two days that we decided to go really lazy for dinner: Chinese delivery.  The restaurant and food was not really worth mentioning but it was a relaxing end to a hot, tiring day.
  p Or so we thought…  When we got ready for bed, Marlene, being the amazing mom that she is realized Sam was getting pretty sick.  He had a runny nose for the previous few days and it worsened and he was actually running a fever.  We knew we had to find Urgent Care and the best option was across the Ben Franklin Bridge in New Jersey.  After a hefty toll, we arrived at Urgent Care at 10:50PM and were quickly seen.  Sam was miserable but we were able to get him some medicine right there and got a prescription for more.  After a breathing treatment we were back on the road.  A tired unplanned evening trip that we didn’t want to take while on vacation.  Luckily for us, Sam has the best mom and she knew what he needed and we made it happen!  Sam felt much better for the remainder of the trip.

  .grid-container
    +image('article_9a', 'More Amish fun -- also: My NIGHTMARE', 'Jean')
    +image('article_9b', 'Amish pizza...?')
    +image('article_9c', 'Sam at Urgent Care :-(', 'Marlene')

  h1 SATURDAY
  
  P After the heavy food the previous few days we opted for a fruit breakfast at the condo while we packed everything up and cleaned up a bit.  Once we loaded everything into the SUV, we said “goodbye” to the condo and went out to see the city from high up: One Liberty Observation Deck.  A quick flash of my Veterans ID got us in a bit cheaper and we were in the elevator on our way to the 57th floor at a height of 883 feet (269 m for our metric friends).  The setup of this attraction is pretty cool because the elevator sits in the middle of the building allowing for a walk-around unobtrusive view of the city.  One smart use of technology up there was a map of the city on a large interactive touch-screen monitor in front of you. You could move the map around and click on different buildings or features and a pop-up would appear with pertinent information about the location.  We hung out for a long hour and took countless pictures while seeing the city from above.  It was a really cool attraction and we were glad we made the trip up for it.
  
  .grid-container
    +image('article_10a', 'Another building across from us on the 57th floor')
    +image('article_10b', "View from the top of the 'One Liberty Observation Deck'")
    +image('article_10c', "The drizzle didn't stop us from looking down on the city", 'Jean')

  P As lunch was upon us, we decided to try that second cheesesteak place before leaving the city and Yelp directed us to a place just a block or two away called “Cleavers” that did not disappoint.  Not wanting to miss out on many Yelper's recommendation to try their waffle-cut “steak fries” meant we were in for too much food!  The fries were pretty good as they were loaded with cheese, ribeye, and onions, but I'd skip them next time.  The sandwich was the star of the show as far as I was concerned. Remember how earlier I'd said that “Dalessandro's” was the best cheesesteak we had all tried up until that point in our lives?  I honestly think I enjoyed Cleavers even more.  It was fantastic. We just got the classic cheesesteak with a little bit of mustard inside and it was super filling and fantastic.  Highly recommend you try one.
  P It was time to get back to New York and we were not prepared for any of it.  The drive to NYC was pretty painless and we dropped the rental car of fine but then ran into problem after problem.  For some reason, trying to get from the rental place in Astoria (right next to La Guardia) to Manhattan proved to be interesting.  When we asked the rental car place for a recommendation on getting there they looked at us like it was impossible.  We knew we could just jump on the shuttle to the airport (whenever that ran…) and then get down to the subway station near La Guardia but with all of our luggage and a toddler in tow… it was easier said than done.  I guess most people do that but end up at the airport and the stress is over but for us, that was the midway point; we still had to get to our hotel in Manhattan.  Uber was pretty expensive and didn't have a child seat option --same for a taxi.  With all of that in mind, we waited about half an hour to take the rental car shuttle which promptly dropped us off at a random bus station and didn't really say anything to us.  We had to figure out on our own which bus nearby would take us to La Guardia.  THAT bus driver just left us once we asked her if that was the correct bus for us.  I guess she had enough for that day so she just pulled off.  We had to wait for the next bus and finally we were at La Guardia.  Next, we waited in line for MetroCards at a dispensing machine thinking we needed them before going any further.  Once we waited patiently and got them, we took our final shuttle that dropped us off at a Metro station.  The bus didn't require MetroCards and once we arrived, we were greeted with rows of MetroCard stations that could have saved us about 20 minutes.  At last, we were on the subway train, headed for our hotel!  Once we arrived we felt like we had just gone to battle to move what amounted to four miles as the crow flies.
  
  .grid-container
    +image('article_11a', "Crossing the 'George Washington Bridge'", 'Jean')
    +image('article_11b', 'Sam enjoyed a hot dog while we marched around the city', 'Jean')
    +image('article_11c', 'This playground was right by the coffee shop.  Sam loved it.')

  P Before dinner, we split up after grabbing coffees so Frances and Jean could explore while we took Sam to a rainy playground.  He had so much fun running around, sliding on water-soaked slides, playing on the swings.  It was a nice setup right in the heart of Manhattan with a soft cork-lined ground for the neighborhood kids to enjoy.  We decided to meet back up for dinner and opted for Italian at Tovola.  Sam fell asleep in my arms and the place was crowded so we were surprised we quickly got a seat but service definitely suffered from the crowd.  Once our food arrived, though, everyone enjoyed it.  Frances commented that ambiance in the place was better than the food was.  It was dark and decorated nicely and the chatter from all of the guests made from an experience.  Of course, I'm of the opinion that she loves NYC so much that she would have had the same sentiment eating outside in the rain (Frances here again, Chris is not wrong. New York really is THE GREATEST CITY IN THE WORLD!!).  Once we got back to the hotel we were all wiped out but I didn't want to waste the opportunity of grabbing a drink during our only New York night that year.  Jean and I ran out once Sam was asleep and the girls were almost passed out and we walked through Times Square to grab drinks at a place called “Dutch Fred's”  Jean got something he really enjoyed but I felt betrayed by the waitress when she recommended a drink and then brought me a dainty dish that belonged in my great-grandmother's china cabinet!  “Dutch's Punch” was pretty good but boy was it fruity and amusing to drink out of an attached saucer and cup!  I can't remember how much we paid but I know Sam will have to take an additional student loan because of that place.
  
  .grid-container
    +image('article_12a', 'Sam napping at the Italian restaurant', 'Jean')
    +image('article_12b', 'Jean wanted more bread!')

  h1 SUNDAY

  P While I am certainly a creature of habit and we often times enjoy going to places that we know are good, we didn't intend to do that when we went for bagels at the “Jolly Goat Coffee Bar.”  See, when we made the trip there Sunday morning after finding it on Yelp, we didn't notice that we had all been there on our previous trip we to the city.  We didn't realize thist until moments after ordering and looking around for a bit.  Suddenly, that confused “Deja Vu” look spread across our faces and we burst into laughter when Jean pulled up a picture he had taken the last time were were in there!  The bagels and coffee where still good, by the way…
  P The day turned out much wetter than we had hoped for.  It was a constant drizzle outside that impeded us from getting out and exploring much at all.  We knew we wanted to try the world-famous “Levain Bakery” and their chocolate chip cookies that were always popping up on Instagram and other social networking sites. After a quick google search showed that one location was less busy than the rest, we jumped in line at the Amsterdam Ave. location.  The line had about 12 people in front of us but it moved fast enough.  Opting for a little variety, I grabbed two cookies: chocolate chip walnut (their claim to fame) and the dark chocolate peanut butter chip.  Most people that know me are aware that I have a massive sweet-tooth and love to indulge in desserts, with the chocolate chip cookie being my favorite food in general.  I guess I was quite surprised when I tried the chocolate chip cookie with walnut because, first off, the texture is really odd.  It's a mix of a cookie and cake.  It could be described as a “dense cake with harder outer crust.”  That would have been fine if the cookie was really tasty but in my humble opinion, it was pretty disappointing.  It wasn't sweet enough and the ratios were off because of how large the treat was.  Finally, the walnuts were disappointing because they didn't really do anything for the cookie, in my opinion, and just detracted from what was working.  They had to constantly ask every single patron if they were aware that there were walnuts in the cookies and if they consented to that fact before ordering.  If the reason was for allergy concerns then that's one thing but if this was because of disappointed visitors of years-gone-by, why not just offer an option without the walnut?  At any rate, it was a really good cookie that did not live up to the hype in my opinion.  On to the next one…
  
  .grid-container
    +image('article_13a', "The short line at 'Levain'")
    +image('article_13b', 'Meh Levain cookie')
  
  P After the sugar rush (see a theme from earlier?  We enjoy sweets!) we opted to just chill out since the rainy weather forced us indoors.  Marlene and I had hung out before inside the Ace Hotel's dimly-lit lobby and we knew that would be a good place for Sam to sleep while we rested and watched the rain.  We jumped on a bus and headed over and quickly found a seat on the leather couch in the corner.  Sam was already asleep so we took turns holding him and relaxing.  I grabbed a coffee from the Stumptown that was on the front of the building and we hung out for a few hours.  Jean and Frances opted to brave the weather, not having a toddler in tow made them much more adapt and agile.  I'm not sure where they ran off to but we decided we would all meet up in a bit for our final meal of the trip. (Another note from Frances:  We decided to head off to visit some of the TV filming locations I've wanted to visit every time I come to NYC, but have never had the chance to. We visited Carrie Bradshaw's apartment from Sex and the City, the apartment where Monica and Rachel lived in Friends, and Tom's Diner from Seinfeld. We even went into Tom's Diner and ordered a little snack - coffee and a muffin. It looks nothing like Monk's inside, of course, but the place had a lot of pictures of the cast and crew inside. It was every bit as fun as I thought it would be to visit those places, especially since two of them are located in Greenwich Village - my all time favorite place to stroll around when I'm in NYC!)
  
  .grid-container
    +image('article_14a', "Chillin' at 'Ace Hotel' during the rain")
    +image('article_14b', 'That subway tile', 'Jean')
    +image('article_14c', 'Seinfeld ate here! (Kinda)', 'Frances')

  P The combined late lunch and early dinner meal took place at Red Poke.  I don't know how I kept Marlene from getting Lombardi's pizza, a NYC favorite of hers from a previous trip, but Red Poke proved to be a hit.  We made our own bowl and shared with Sam.  I can't remember much about what we ordered but I know we all really enjoyed all of our decisions.  It was a nice end to a great trip.
  P We shuffled over to the hotel to get our bags and make our way to the airport for the last time.  It was, thankfully, uneventful and quite painless and before you knew it, we were on our way to see Petey.  It was not what I expected but it was still a great trip up to Philadelphia and New York.  I want to thank Jean and Frances for coming along for the ride and always volunteering to carry Sam or help with his stuff.  They're the best and we will surely do another trip with them again soon. 
  
  .grid-container
    +image('article_15a', 'Last-minute hotel lobby naps on mommy')
    +image('article_15b', 'Kids and their devices...')

block things_liked_block
  li 
    a(href='https://www.nps.gov/inde/planyourvisit/independencehall.htm') Independence Hall
  li Philly's love for their football team
  li 
    a(href='https://readingterminalmarket.org/') Reading Terminal Market
  li 
    a(href='https://www.beilersdoughnuts.com/') Beiler's Doughnuts
  li
    a(href='https://www.amishfarmandhouse.com/') Amish Farm and House
  li Caprico's Pizza
  li
    a(href='https://phillyfromthetop.com/') One Liberty Observation Deck
  li
    a(href='http://www.cleaversphilly.com/') Cleaver's Cheesesteaks
  li
    a(href='http://www.thejollygoat.com/') Jolly Goat Coffee Bar (AGAIN!)
  li
    a(href='https://www.acehotel.com/newyork/') Ace Hotel (again!)
  li NYC just in general like


block gallery_block
  +gallery_image('1')
  +gallery_image('2')
  +gallery_image('3')
  +gallery_image('4')
  +gallery_image('5')
  +gallery_image('6')
  +gallery_image('7')
  +gallery_image('8')
  +gallery_image('9')
  +gallery_image('10')
  +gallery_image('11')
  +gallery_image('12')
  +gallery_image('13')
  +gallery_image('14')
  +gallery_image('15')
  +gallery_image('16')
  +gallery_image('17')
  +gallery_image('18')
  +gallery_image('19')
  +gallery_image('20')
  +gallery_image('21')
  +gallery_image('22')
  +gallery_image('23')
  +gallery_image('24')
  +gallery_image('25')
  +gallery_image('26')
  +gallery_image('27')
  +gallery_image('28')
  +gallery_image('29')
  +gallery_image('30')
  +gallery_image('31')
  +gallery_image('32')
  +gallery_image('33')
  +gallery_image('34')
  +gallery_image('35')
  +gallery_image('36')
  +gallery_image('37')
  +gallery_image('38')
  +gallery_image('39')
  +gallery_image('40')
  +gallery_image('41')
  +gallery_image('42')
  +gallery_image('43')
  +gallery_image('44')
  +gallery_image('45')
  +gallery_image('46')
  +gallery_image('47')
  +gallery_image('48')
  +gallery_image('49')
  +gallery_image('50')
  +gallery_image('51')
  +gallery_image('52')
  +gallery_image('53')
  +gallery_image('54')
  +gallery_image('55')
  +gallery_image('56')
  +gallery_image('57')
  +gallery_image('58')
  +gallery_image('59')
  +gallery_image('60')
  +gallery_image('61')
  +gallery_image('62')
  +gallery_image('63')
  +gallery_image('64')
  +gallery_image('65')
  +gallery_image('66')
  +gallery_image('67')
  +gallery_image('68')
  +gallery_image('69')
  +gallery_image('70')
  +gallery_image('71')
  +gallery_image('72')
  +gallery_image('73')
  +gallery_image('74')
  +gallery_image('75')
  +gallery_image('76')
  +gallery_image('77')
  +gallery_image('78')
  +gallery_image('79')
  +gallery_image('80')
  +gallery_image('81')
  +gallery_image('82')
  +gallery_image('83')
  +gallery_image('84')
  +gallery_image('85')
  +gallery_image('86')
  +gallery_image('87')
  +gallery_image('88')
  +gallery_image('89')
  +gallery_image('90')
  +gallery_image('91')
  +gallery_image('92')
  +gallery_image('93')
  +gallery_image('94')
  +gallery_image('95')
  +gallery_image('96')
  +gallery_image('97')
  +gallery_image('98')
  +gallery_image('99')
  +gallery_image('100')
  +gallery_image('101')
  +gallery_image('102')
  +gallery_image('103')
  +gallery_image('104')
  +gallery_image('105')
  +gallery_image('106')
  +gallery_image('107')
  +gallery_image('108')
  +gallery_image('109')
  +gallery_image('110')
  +gallery_image('111')
  +gallery_image('112')
  +gallery_image('113')
  +gallery_image('114')
  +gallery_image('115')
  +gallery_image('116')
  +gallery_image('117')
  +gallery_image('118')
  +gallery_image('119')
  +gallery_image('120')
  +gallery_image('121')
  +gallery_image('122')
  +gallery_image('123')
  +gallery_image('124')
  +gallery_image('125')
  +gallery_image('126')
  +gallery_image('127')
  +gallery_image('128')
  +gallery_image('129')
  +gallery_image('130')
  +gallery_image('131')
  +gallery_image('132')
  +gallery_image('133')
  +gallery_image('134')
  +gallery_image('135')
  +gallery_image('136')
  +gallery_image('137')
  +gallery_image('138')
  +gallery_image('139')
  +gallery_image('140')
  +gallery_image('141')
  +gallery_image('142')
  +gallery_image('143')
  +gallery_image('144')
  +gallery_image('145')
  +gallery_image('146')
  +gallery_image('147')
  +gallery_image('148')
  +gallery_image('149')
  +gallery_image('150')
  +gallery_image('151')
  +gallery_image('152')
  +gallery_image('153')
  +gallery_image('154')
  +gallery_image('155')
  +gallery_image('156')
  +gallery_image('157')
  +gallery_image('158')
  +gallery_image('159')
  +gallery_image('160')
  +gallery_image('161')
  +gallery_image('162')
  +gallery_image('163')
  +gallery_image('164')
  +gallery_image('165')
  +gallery_image('166')
  +gallery_image('167')
  +gallery_image('168')
  +gallery_image('169')
  +gallery_image('170')
  +gallery_image('171')
  +gallery_image('172')
  +gallery_image('173')
  +gallery_image('174')
  +gallery_image('175')
  +gallery_image('176')
  +gallery_image('177')
  +gallery_image('178')
  +gallery_image('179')
  +gallery_image('180')
  +gallery_image('181')
  +gallery_image('182')
  +gallery_image('183')
  +gallery_image('184')
  +gallery_image('185')
  +gallery_image('186')
  +gallery_image('187')
  +gallery_image('188')
  +gallery_image('189')
  +gallery_image('190')
  +gallery_image('191')
  +gallery_image('192')
  +gallery_image('193')
  +gallery_image('194')
  +gallery_image('195')
  +gallery_image('196')
  +gallery_image('197')
  +gallery_image('198')
  +gallery_image('199')
  +gallery_image('200')
  +gallery_image('201')
  +gallery_image('202')
  +gallery_image('203')
  +gallery_image('204')
  +gallery_image('205')
  +gallery_image('206')
  +gallery_image('207')
  +gallery_image('208')
  +gallery_image('209')
  +gallery_image('210')
  +gallery_image('211')
  +gallery_image('212')
  +gallery_image('213')
  +gallery_image('214')
  +gallery_image('215')
  +gallery_image('216')
  +gallery_image('217')
  +gallery_image('218')
  +gallery_image('219')
  +gallery_image('220')
  +gallery_image('221')
  +gallery_image('222')
  +gallery_image('223')
  +gallery_image('224')
  +gallery_image('225')
  +gallery_image('226')
  +gallery_image('227')
  +gallery_image('228')
  +gallery_image('229')
  +gallery_image('230')
  +gallery_image('231')
  +gallery_image('232')
  +gallery_image('233')
  +gallery_image('234')
  +gallery_image('235')
  +gallery_image('236')
  +gallery_image('237')
  +gallery_image('238')
  +gallery_image('239')
  +gallery_image('240')
  +gallery_image('241')
  +gallery_image('242')
  +gallery_image('243')
  +gallery_image('244')
  +gallery_image('245')
  +gallery_image('246')
  +gallery_image('247')
  +gallery_image('248')
  +gallery_image('249')
  +gallery_image('250')
  +gallery_image('251')
  +gallery_image('252')
  +gallery_image('253')
  +gallery_image('254')
  +gallery_image('255')
  +gallery_image('256')
  +gallery_image('257')
  +gallery_image('258')
  +gallery_image('259')
  +gallery_image('260')
  +gallery_image('261')
  +gallery_image('262')
  +gallery_image('263')
  +gallery_image('264')
  +gallery_image('265')
  +gallery_image('266')
  +gallery_image('267')
  +gallery_image('268')
  +gallery_image('269')
  +gallery_image('270')
  +gallery_image('271')
  +gallery_image('272')
  +gallery_image('273')
  +gallery_image('274')
  +gallery_image('275')
  +gallery_image('276')
  +gallery_image('277')
  +gallery_image('278')
  +gallery_image('279')
  +gallery_image('280')
  +gallery_image('281')
  +gallery_image('282')
  +gallery_image('283')
  +gallery_image('284')
  +gallery_image('285')
  +gallery_image('286')
  +gallery_image('287')
  +gallery_image('288')
  +gallery_image('289')
  +gallery_image('290')
  +gallery_image('291')
  +gallery_image('292')
  +gallery_image('293')
  +gallery_image('294')
  +gallery_image('295')
  +gallery_image('296')
  +gallery_image('297')
  +gallery_image('298')
  +gallery_image('299')
  +gallery_image('300')
  +gallery_image('301')
  +gallery_image('302')
  +gallery_image('303')
  +gallery_image('304')
  +gallery_image('305')
  +gallery_image('306')
  +gallery_image('307')
  +gallery_image('308')
  +gallery_image('309')
  +gallery_image('310')
  +gallery_image('311')
  +gallery_image('312')
  +gallery_image('313')
  +gallery_image('314')
  +gallery_image('315')
  +gallery_image('316')
  +gallery_image('317')
  +gallery_image('318')
  +gallery_image('319')
  +gallery_image('320')
  +gallery_image('321')
  +gallery_image('322')
  +gallery_image('323')
  +gallery_image('324')
  +gallery_image('325')
  +gallery_image('326')
  +gallery_image('327')
  +gallery_image('328')
  +gallery_image('329')
  +gallery_image('330')
  +gallery_image('331')
  +gallery_image('332')
  +gallery_image('333')
  +gallery_image('334')
  +gallery_image('335')
  +gallery_image('336')
  +gallery_image('337')
  +gallery_image('338')
  +gallery_image('339')
  +gallery_image('340')
  +gallery_image('341')
  +gallery_image('342')
  +gallery_image('343')
  +gallery_image('344')
  +gallery_image('345')
  +gallery_image('346')
  +gallery_image('347')
  +gallery_image('348')
  +gallery_image('349')
  +gallery_image('350')
  +gallery_image('351')
  +gallery_image('352')
  +gallery_image('353')
  +gallery_image('354')
  +gallery_image('355')
  +gallery_image('356')
  +gallery_image('357')
  +gallery_image('358')
  +gallery_image('359')
  +gallery_image('360')
  +gallery_image('361')
  +gallery_image('362')
  +gallery_image('363')
  +gallery_image('364')
  +gallery_image('365')
  +gallery_image('366')
  +gallery_image('367')
  +gallery_image('368')
  +gallery_image('369')
  +gallery_image('370')
  +gallery_image('371')
  +gallery_image('372')
  +gallery_image('373')
  +gallery_image('374')
  +gallery_image('375')
  +gallery_image('376')
  +gallery_image('377')
  +gallery_image('378')
  +gallery_image('379')
  +gallery_image('380')
  +gallery_image('381')
  +gallery_image('382')
  +gallery_image('383')
  +gallery_image('384')
  +gallery_image('385')
  +gallery_image('386')
  +gallery_image('387')
  +gallery_image('388')
  +gallery_image('389')
  +gallery_image('390')
  +gallery_image('391')
  +gallery_image('392')
  +gallery_image('393')
  +gallery_image('394')
  +gallery_image('395')
  +gallery_image('396')
  +gallery_image('397')
  +gallery_image('398')
  +gallery_image('399')
  +gallery_image('400')
  +gallery_image('401')
  +gallery_image('402')
  +gallery_image('403')
  +gallery_image('404')
  +gallery_image('405')
  +gallery_image('406')
  +gallery_image('407')
  +gallery_image('408')
  +gallery_image('409')
  +gallery_image('410')
  +gallery_image('411')
  +gallery_image('412')
  +gallery_image('413')
  +gallery_image('414')
  +gallery_image('415')
  +gallery_image('416')
  +gallery_image('417')
  +gallery_image('418')
  +gallery_image('419')
  +gallery_image('420')
  +gallery_image('421')
  +gallery_image('422')
  +gallery_image('423')
  +gallery_image('424')
  +gallery_image('425')
  +gallery_image('426')
  +gallery_image('427')
  +gallery_image('428')
  +gallery_image('429')
  +gallery_image('430')
  +gallery_image('431')
  +gallery_image('432')
  +gallery_image('433')
  +gallery_image('434')
  +gallery_image('435')
  +gallery_image('436')
  +gallery_image('437')
  +gallery_image('438')
  +gallery_image('439')
  +gallery_image('440')
  +gallery_image('441')
  +gallery_image('442')
  +gallery_image('443')
  +gallery_image('444')
  +gallery_image('445')
  +gallery_image('446')
  +gallery_image('447')
  +gallery_image('448')
  +gallery_image('449')
  +gallery_image('450')
  +gallery_image('451')
  +gallery_image('452')
  +gallery_image('453')
  +gallery_image('454')
  +gallery_image('455')
  +gallery_image('456')
  +gallery_image('457')
  +gallery_image('458')
  +gallery_image('459')
  +gallery_image('460')
  +gallery_image('461')
  +gallery_image('462')
  +gallery_image('463')
  +gallery_image('464')
  +gallery_image('465')
  +gallery_image('466')
  +gallery_image('467')
  +gallery_image('468')
  +gallery_image('469')
  +gallery_image('470')
  +gallery_image('471')
  +gallery_image('472')
  +gallery_image('473')
  +gallery_image('474')
  +gallery_image('475')
  +gallery_image('476')
  +gallery_image('477')
  +gallery_image('478')
  +gallery_image('479')
  +gallery_image('480')
  +gallery_image('481')
  +gallery_image('482')
  +gallery_image('483')
  +gallery_image('484')
  +gallery_image('485')
  +gallery_image('486')
  +gallery_image('487')
  +gallery_image('488')
  +gallery_image('489')
  +gallery_image('490')
  +gallery_image('491')
  +gallery_image('492')
  +gallery_image('493')
  +gallery_image('494')
  +gallery_image('495')
  +gallery_image('496')
  +gallery_image('497')
  +gallery_image('498')
  +gallery_image('499')
  +gallery_image('500')
  +gallery_image('501')
  +gallery_image('502')
  +gallery_image('503')
  +gallery_image('504')
  +gallery_image('505')
  +gallery_image('506')
  +gallery_image('507')
  +gallery_image('508')
  +gallery_image('509')
  +gallery_image('510')
  +gallery_image('511')
  +gallery_image('512')
  +gallery_image('513')
  +gallery_image('514')
  +gallery_image('515')
  +gallery_image('516')
  +gallery_image('517')
  +gallery_image('518')
  +gallery_image('519')
  +gallery_image('520')
  +gallery_image('521')
  +gallery_image('522')
  +gallery_image('523')
  +gallery_image('524')
  +gallery_image('525')
  +gallery_image('526')
  +gallery_image('527')
  +gallery_image('528')
  +gallery_image('529')
  +gallery_image('530')
  +gallery_image('531')
  +gallery_image('532')
  +gallery_image('533')
  +gallery_image('534')
  +gallery_image('535')
  +gallery_image('536')
  +gallery_image('537')
  +gallery_image('538')
  +gallery_image('539')
  +gallery_image('540')
  +gallery_image('541')
  +gallery_image('542')
  +gallery_image('543')
  +gallery_image('544')
  +gallery_image('545')
  +gallery_image('546')
  +gallery_image('547')
  +gallery_image('548')
  +gallery_image('549')
  +gallery_image('550')
  +gallery_image('551')
  +gallery_image('552')
  +gallery_image('553')
  +gallery_image('554')
  +gallery_image('555')
  +gallery_image('556')
  +gallery_image('557')
  +gallery_image('558')
  +gallery_image('559')
  +gallery_image('560')
  +gallery_image('561')
  +gallery_image('562')
  +gallery_image('563')
  +gallery_image('564')
  +gallery_image('565')
  +gallery_image('566')
  +gallery_image('567')
  +gallery_image('568')
  +gallery_image('569')
  +gallery_image('570')
  +gallery_image('571')
  +gallery_image('572')
  +gallery_image('573')
  +gallery_image('574')
  +gallery_image('575')
  +gallery_image('576')
  +gallery_image('577')
  +gallery_image('578')
  +gallery_image('579')
  +gallery_image('580')
  +gallery_image('581')
  +gallery_image('582')
  +gallery_image('583')
  +gallery_image('584')
  +gallery_image('585')
  +gallery_image('586')
  +gallery_image('587')
  +gallery_image('588')
  +gallery_image('589')
  +gallery_image('590')
  +gallery_image('591')
  +gallery_image('592')
  +gallery_image('593')
  +gallery_image('594')
  +gallery_image('595')
  +gallery_image('596')
  +gallery_image('597')
  +gallery_image('598')
  +gallery_image('599')
  +gallery_image('600')
  +gallery_image('601')
  +gallery_image('602')
  +gallery_image('603')
  +gallery_image('604')
  +gallery_image('605')
  +gallery_image('606')
  +gallery_image('607')
  +gallery_image('608')
  +gallery_image('609')
  +gallery_image('610')
  +gallery_image('611')
  +gallery_image('612')
  +gallery_image('613')
  +gallery_image('614')
  +gallery_image('615')
  +gallery_image('616')
  +gallery_image('617')
  +gallery_image('618')
  +gallery_image('619')
  +gallery_image('620')
  +gallery_image('621')
  +gallery_image('622')
  +gallery_image('623')
  +gallery_image('624')
  +gallery_image('625')
  +gallery_image('626')
  +gallery_image('627')
  +gallery_image('628')
  +gallery_image('629')
  +gallery_image('630')
  +gallery_image('631')
  +gallery_image('632')
  +gallery_image('633')
  +gallery_image('634')
